.image{
    height: 450px;
    width: 49%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    border-color:blueviolet;
}
th{
    height: 50px;
    width: 200px;
    text-align: center;
}
td{
    text-align: center;
    padding: 5px;
}   
tr:nth-child(even) {
    background-color:rgb(89, 133, 118)
}
tr:hover{
    background-color: rgb(50, 250, 250);
}
.li-style{
    display: inline;
}
footer{
    text-align: center;
}
.stick{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
}
.ul{
    list-style-type: none;
}
.main-menu{
    background-color:rgb(107, 110, 112);
    padding: 5px;
}
.main-menu a{
    text-decoration: none;
    color: white;
}
.main-menu a:hover{
    background-color: rgb(199, 144, 250);
    padding:25px;
}
body{
    margin: 0 10px;
}
#INGREDIENTS table{
    margin-left: auto;
    margin-right: auto;
}
#INGREDIENTS{
    background-color: rgb(248, 214, 170);
}
#STEPS{
    background-color:rgb(179, 179, 248);
}
#ITEMS{
    background-color: rgb(205, 167, 241);
}
